<div class="page-custom">
  <div class="form-container">

    <div class="page-custom-header">
      <div class="text-center">
        <span class="icon-logo logo"></span>
        <h1>Reset you password?</h1>
      </div>
    </div>

    <div class="page-custom-body">

      <div id="alerts-container"></div>

      <form name="vm.emailForm" class="form-validation" ng-submit="vm.submitEmail()" role="form" novalidate>

        <div class="form-group el-margin-btm">
          <p>Enter your email address below and we'll send you password reset instructions</p>
        </div>
        <div class="form-group with-block el-margin-btm">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" maxlength="50"
                 class="form-control input-lg"
                 ng-model="vm.credentials.email" in-focus required focus-on="emailFormOn">
          <span class="has-error-arrow"
                ng-show="(submitted && vm.emailForm.email.$invalid) ||
                (vm.emailForm.email.$dirty && vm.emailForm.email.$invalid && !vm.emailForm.email.$focused)">
            <div class="error-arrow-right"></div>
          <p class="help-block" ng-show="vm.emailForm.email.$error.maxlength">
            Email is too long (50 characters limit)</p>
          <p class="help-block" ng-show="vm.emailForm.email.$error.required">
            Enter your email address</p>
          <p class="help-block" ng-show="vm.emailForm.email.$error.email">
            Enter valid email address</p>
          </span>
        </div>
        <button id="email-submit-btn" class="btn btn-danger btn-lg af-btn btn-block"
                type="submit" ng-click="submitted=true" ng-disabled="vm.loading">
          Send me reset instructions
        </button>

      </form>
    </div>

    <div class="page-custom-alt text-center">
      <p>Never mind, </p>
      <h4><a href="" ng-click="vm.navigate('/login')">Send me back to the sign-in page</a></h4>
    </div>

  </div>

  <div class="page-custom-footer">
    <p class="text-center alt-link">
      <span><a href="http://actionfinish.com/terms/" target="_blank">Terms of Service</a></span> |
      <span><a href="http://actionfinish.com/privacy/" target="_blank">Privacy Policy</a></span> |
      <i class="icon-copyright"></i> ActionFinish Limited 2015
    </p>
  </div>
</div>

